body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f6f1;
    color: #000000;
}

header {
    background-color: #d6c9b8;
    color: #4d3737;
    text-align: center;
    padding: 20px;
}

nav {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logout-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #b17e5a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.logout-btn:hover {
    background-color: #8a5c3c;
    transform: scale(1.05);
}

.events-container {
    max-width: 1200px;
    margin: 32px auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 32px;
}

.event-card {
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-card h2 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #b17e5a;
}

.card-buttons{
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.event-details-toggle,
.view-details-btn {
    margin-top: 16px;
    background-color: #b17e5a;
    color: white;
    border: none;
    padding: 12px 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.event-details-content {
    margin-top: 16px;
    border-top: 1px solid #d6c9b8;
    padding-top: 16px;
    display: none;
    font-size: 14px;
    color: #4a4a4a;
}

.event-details-toggle:hover {
    background-color: #8a5c3c;
}

.view-details-btn:hover {
    background-color: #8a5c3c;
}

/* Event details page styling */

.event-details {
    max-width: 900px;
    margin: 32px auto 64px auto;
    background-color: white;
    padding: 32px;
    border-radius: 12px;
    font-size: 16px;
    color: #4a4a4a;
}

.event-details h2 {
    color: #b17e5a;
    border-bottom: 2px solid #d6c9b8;
    padding-bottom: 8px;
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 600;
}

.event-details ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 32px;
}

.event-details ul li {
    background-color: #f9f6f1;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
}

.event-details ul li p {
    margin: 4px 0;
}

a.back-button {
    display: inline-block;
    margin: 32px auto;
    background-color: #b17e5a;
    color: white;
    font-weight: 600;
    padding: 12px 32px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

a.back-button:hover {
    background-color: #8a5c3c;
}

header h1 {
    text-align: center;
    padding: 32px 16px;
    font-size: 35px;
    color: #b17e5a;
    font-weight: 700;
}
